#wb_form{
    padding:1em;
    width:70%;
    max-width:700px;
}
#files{
    display:none;
}
.sec{
    height:100%;
    width:100%;

}

#header > h1{
    font-size:2.4em;
    margin:0.5em 0;
    font-weight: bold;
    font-family:Tahoma, Arial, sans-serif;
    color:#AD3F8B;
}
.sub{
    margin-top:3em;
    font-size:1.2em;
    font-weight: bold;
    font-family:Tahoma, Arial, sans-serif;
}
.info{
    font-style: italic;
    margin-bottom:0.3em;
    margin-top:-0.8em;
}
#header > p{
    font-family:Georgia,serif;
    margin-bottom:4em;
}
.sec > .select{
    font-family: Georgia, serif;
    font-size:1em;
}
.text_box{
    font-family:Georgia, serif;
    font-size:1em;
    width:100%;
}
.obl{
    color:red;
    font-size:0.7em;
    padding-left:3px;
    margin-top:0.3em;
}
#fil{
    font-family:Georgia, serif;
    font-size:1.2em;
    margin-top:0.5em;
    width:5em;
    text-align: center;
}
#preview{
    font-size:1.2em;
    font-style: italic;
    margin-top:0.4em;
}
#send_btn{
    font-size: 1.7em;
    margin:1.5em 0.6em;
    width:6em;

}
.btn{
    cursor: pointer;
    border:none;
    background-color:#1f7a8c ;
    background-image: linear-gradient(1deg, #114550, #1f7a8c 99%);
    transition: background-color .2s, background-position .2s;
    color:#fff;
    border-radius:100px;
    padding:5px;
    font-family:Georgia, serif;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    background-size: calc(100% + 20px) calc(100% + 20px);
    text-shadow: -0.5px -0.5px 0 #222;
}
.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: -20px -20px;
}

.btn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
#pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
#pop-up-content{
    background-color: #fefefe;
    margin: 30vh auto;
    border: 1px solid #888;
    width: 40vw;
    height:25vmin;
    box-shadow: rgba(0,0,0,.2) 0 3px 5px -1px, rgba(0,0,0,.14) 0 6px 10px 0, rgba(0,0,0,.12) 0 1px 18px 0;

}
#close{
    color: #aaa;
    font-size: 2.5em;
    font-weight: bold;
    float:right;
    padding-right:0.2em;
    position:static;
}  
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#pop-up-text{
    font-size: 4vmin;
    text-align: center;
    position: static;
    width:34vw;
    margin:7vmin 3vw 0 3vw;
    height:10vmin;
}
#yes, #no{
    border:none;
    text-align: center;
    font-size:3vmin;
    height:3vmin;
    width:10vw;
    padding:10px;
    margin:0 5vw;
    cursor: pointer;
    justify-content: center;

}
#answers{
    display:none;
    width:40vw;
    height:6vh;
    justify-content: center;
    position: absolute;
    margin-top:3vh;
}

/*
LOADING SPINNER
*/
#spinner{
    display:none;
    align-content: center;
    width:40vw;
    height:28vh;
    position:absolute;
}
.lds-spinner {
/* change color here */
    color: #1c4c5b;
}
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}
.lds-spinner {
    color: currentColor;
    display: inline-block;
    position: relative;
    margin:0 15.7vw;
    width: 9.3vw;
    height: 9.3vw;
}
.lds-spinner div {
transform-origin: 40px 40px;
animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
content: " ";
display: block;
position: absolute;
top: 3.2px;
left: 36.8px;
width: 6.4px;
height: 17.6px;
border-radius: 20%;
background: currentColor;
}
.lds-spinner div:nth-child(1) {
transform: rotate(0deg);
animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
transform: rotate(30deg);
animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
transform: rotate(60deg);
animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
transform: rotate(90deg);
animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
transform: rotate(120deg);
animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
transform: rotate(150deg);
animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
transform: rotate(180deg);
animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
transform: rotate(210deg);
animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
transform: rotate(240deg);
animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
transform: rotate(270deg);
animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
transform: rotate(300deg);
animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
transform: rotate(330deg);
animation-delay: 0s;
}
@keyframes lds-spinner {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
