#wb_form{
    padding:1em;
    width:70%;
    max-width:700px;
}
.sec{
    height:100%;
    width:100%;

}
#header > h1{
    font-size:2.4em;
    margin:0.5em 0;
    font-weight: bold;
    font-family:Tahoma, Arial, sans-serif;
}
.sub{
    margin-top:3em;
    font-size:1.2em;
    font-weight: bold;
    font-family:Tahoma, Arial, sans-serif;
}
.info{
    font-style: italic;
    margin-bottom:0.3em;
    margin-top:-0.8em;
}
#header > p{
    font-family:Georgia,serif;
    margin-bottom:4em;
}
.sec > .select{
    font-family: Georgia, serif;
    font-size:1em;
}
.text_box{
    font-family:Georgia, serif;
    font-size:1em;
    width:100%;
}
.obl{
    color:red;
    font-size:0.7em;
    padding-left:3px;
    margin-top:0.3em;
}
#fil{
    font-family:Georgia, serif;
    font-size:1.2em;
    margin-top:0.5em;
    width:5em;
    text-align: center;
}
#preview{
    font-size:1.2em;
    font-style: italic;
    margin-top:0.4em;
}
#send_btn{
    font-size: 1.7em;
    margin:1.5em 0.6em;
    width:6em;

}
.btn{
    cursor: pointer;
    border:none;
    background-color: #222;
    color:#fff;
    border-radius:25px;
    padding:5px;
    font-family:Georgia, serif;
}
.btn:hover{
    background-color:#444;
}
#pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
#pop-up-content{
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 30%;
    height:20%;

}
#close{
    color: #aaa;
    font-size: 2.5em;
    font-weight: bold;
    float:right;
    padding-right:0.2em;
}  
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#pop-up-text{
    font-size: 2em;
    text-align: center;
    margin-top:1.4em;
    position:absolute;
    width:29.9%;
}
#yes, #no{
    border:none;
    border-radius: 25px;
    width:2.5em;
    text-align: center;
    background-color: #222;
    color:#fff;
    font-size:1.3em;
    height:1em;
    padding:0.4em;
    margin:0 0.5em;
    font-family: Tahoma, sans-serif;
    cursor: pointer;

}
#yes:hover, #no:hover{
    background-color: #444;
}
#answers{
    display:none;
    width:29.9%;
    height:2.5em;
    justify-content: center;
    justify-self: end;
    position:absolute;
    margin:7.5em 0;
}
