/*********************
       CSS RESET
**********************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************
        END CSS RESET
****************************/
@media all(min-width:600px){
	body{
		font-family: "Montserrat", sans-serif;
		background-image: url("bakgrund2.jpg");//Image by Pexels from Pixabay
	}
}
@media all(max-width:600px){
	body{
		font-family: "Montserrat", sans-serif;
			background-image: url("bakgrund.jpg");//Image by Pexels from Pixabay
	}
}
.container{
    padding-top:10%;
		padding-bottom:13%;
    width:100%;
    height:100%;
    text-align: center;

}
.input{
    width:80%;
    font-size: 4em;
}
.button{
    width:80%;
    border-radius: 0.2em;
    border: none;
    background-color: #1f4d34;
    outline: 0;
    color:#fff;
    font-size: 5em;
    margin:5px 5px;
    padding:10px;
    font-family: "Montserrat", sans-serif;
    box-shadow: inset 0 0 10px #000000;
		opacity: 0.7;
}
.selected{
    background-color: #112b1d;
}
#p1{
    margin-top:10px;
    font-size: 4em;
		color:#fff;
}
#p2{
    font-size: 4em;
		color:#fff;
}

#cButton{
    text-decoration: none;
    font-weight: 300;
    font-size:5em;
}
