@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Rubik+Moonrocks&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before, &:after {
      box-sizing: border-box;
    }
  }
html, body{
    background-color: #ccc9e7;
    height:100%;
    caret-color: transparent;
}
.content{
    width:100%;
    height:90%;
    display: flex;
    align-content:center;
    justify-content: center;
    
} 
#jackpot{
    width:95vw;
    height:80vh;
    position: absolute;
    font-size:1.8vmin;
    margin:5vmin;
    font-family:Georgia, Arial, sans-serif;
    border:thick solid black;
}

.wrap{
    display: flex;
    margin-bottom:3%;
}
.wrap1{
    display: flex;
    margin-bottom: 2%;
}
.game_name{
    font-size:2em;
    margin-left:0;
    margin-right:auto;
    caret-color: transparent;
}
.row{
    font-size:1.8em;
    text-align: start;
    margin-right:0.5em;
}
#ss1, #ss2, #ss3, #ss11, #ss21, #ss31 ,#sp1, #sp2, #sp3{
    margin-left:0.5em;
}
.wrapper{
    display: flex;
    justify-content: end;
}
.sb{
    display: flex;
}
.game{
    font-size:2em;
    text-align: center;
    field-sizing: content;
    max-width: max-content;
    caret-color: #5e1246;
}
.game:disabled{
    color:#000;
}
.game::placeholder{
    color:#ccc9e7;
}
#eldo, #at, #eldo1, #at1{
    margin-right:0.03em;
}
#rubrik1, #rubrik2, #rubrik3{
    font-size:3em;
    padding-bottom:1em;
    font-family: 'Tahoma', Arial, Sans-serif;
    font-weight: bold;
    caret-color: transparent;
}
.info{
    position: absolute;
    font-size:1.5em;
    font-style: italic;
    margin-top:1.4em;
    caret-color: transparent;
}
#date{
    font-size:1.2em;
    width:7.3em;
    margin-left:0;
}
.space{
    height:1em;
}
.space2{
    height:1em;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin-bottom:-5px;
  margin-left:-25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ad3f8b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#atlantis{
    color:grey;
}
#at{
    color:grey;
}
#drompotten{
    color:grey;
}
#dp{
    color:grey;
}
#left-row, #left-row1{
    width:50%;
    padding-left:3%;
    padding-right:3%;
    height:100%;
    position: absolute;
    border-right:thin solid black;
    padding-top:1vmin;

}
#extras, #extras1{
    width:47.5vw;
    margin-left:-3vw;
    height:27vh;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
#widget-selector{
    top:2vh;
    right:3vw;
    position: absolute;
}
#widgets{
    font-size: 1.5em;
    padding:1px;
}
#info-box{
    height:80%;
    width:90%;
    position: absolute;
}
#info-box1{
    margin-top:5%;
    height:80%;
    width:90%;
}
#border, #border1{
    border:1px solid black;
    width:100%;
    height:100%;
}
#info-select{
    font-size: 1.2em;
    margin-top:-0.8em;
    margin-left:0.5em;
    position: absolute;
    padding:1px;
}
#info-box-txt1{
    font-size: 2em;
    font-weight: bold;
    margin-top:-0.65em;
    background-color: #ccc9e7;
    width:fit-content;
    margin-left:0.5em;
    padding-right:0.3em;
    padding-left:0.3em;
    font-family: "Tahoma", sans-serif;

}
#editable-content{
    width:100%;
    height:113%;
    display: flex;
    margin-top:3%;
}
#info-input{
    width:91%;
    margin-left:0.5em;
    height:75%;
    font-size:1.3em;
    border:1px solid black;
    background-color: #fff;
    caret-color:black;
    outline: none;
    padding:0.2em;
}
#opt{
    width:5%;
    height:75%;
    border:1px solid black;
    margin-left:-1px;
    background-color: #fff;
}
#b, #i, #h{
    width:100%;
    font-size:1.5em;
    margin-top:0.1em;
    margin-bottom:0.1em;
    background-color: #fff;
    border:none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#b:hover, #i:hover{
    color:#ad3f8b;
}
#b{
    font-weight: bold;
}
#i{
    font-style: italic;
}
#info-output{
    width:100%;
    height:100%;
    font-size:1.3em;
    padding:10px 20px;
}
#storbingo1{
    height:29vh;
    width:40vw;
    border-top:1px solid black;
    display: flex;

}
#tb_head{
    width:40vw;
    align-self: baseline;
    position: absolute;
}
#tb_head .info{
    margin-top:-2em !important;
    
}
#sb_content{
    height:19vh;
    width:40vw;
    margin-top:3vh;
}
#tb_wrap{
    height:21vh;
    width:40vw;
    position:absolute;
    align-content: end;
    margin-bottom:5vh;
}
#tb_wrap_edit{
    display:flex;
    align-items: center;

}
#tb_nr{
    border-radius: 50%;
    width:2em !important;
    height:2em;
    field-sizing: fixed !important;

}
#tb{
    height:1em;
    margin-right:3vw;
}
#tb_value{
    font-size:3.5em !important;
    font-weight: bold;
    color:#222;
    font-family: "Tahoma", sans-serif;
}
.after_tb{
    font-size:3.5em;
    color:#222;
}
#ball_wrap{
    height:21vh;
    width:20vw;
    margin-left:24vw;
    position: absolute;
    align-content: center;
}
#bingo_ball{
    height:20vmin;
    width:20vmin;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
}
.ball{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #7b0455, #520239 10%, #832064 80%, #5e1246 100%);
    align-content: center;

}
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}
.ball:before {
 content: "";
  position: absolute;
  top: 2%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(2px);
  z-index: 2;
}
#inner_circle{
    height:12vmin;
    width:12vmin;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    box-shadow: inset 1px 1px 10px rgb(211, 211, 211), 
    inset -1px -1px 10px rgb(211, 211, 211), 
    inset 1px -1px 10px rgb(211, 211, 211), 
    inset -1px 1px 10px rgb(211, 211, 211);
}
#tb_nr1{
    background-color:transparent ;   
    border:none;
    font-weight: bold;
    font-size: 6em;
    color:#222;
}
#clock, #clock1{
    background-color:#333;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-radius: 25px;
}
#clock{
    padding-left:2vw;
    padding-right:2vw;
    display: none;
}
#clock1{
    width:27vw;
    height:20vh;
    margin-top:5vh;
    box-shadow: 1px 4px 10px 10px #000  inset;
}
#clock1:before{
    content: " ";
    position: absolute;
    width:27.8vw;
    height:22vh;
    left:10vw;
    top:5vh;
    border-radius: 35px;
    border: 10px solid #ad3f8b;
    box-shadow:0 0 2px 2px #222;
}
#time, #time1{
    font-size:15vmin;
    color:#fff;
    font-family: "New Amsterdam", sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    align-self: center;
    justify-self: center;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.colon{
    animation: blink 1s ease infinite;
    padding:0 5px;
    
}
#right-row{
    width:50%;
    padding-left:3%;
    padding-right:3%;
    height:100%;
    margin-left:50%;
    position:absolute;
    border-left:thin solid black;
    padding-top:1vmin;
}
#bottom{
    width:100%;
    height:15vmin;
    position:fixed;
    bottom:0;
    padding-top:2vmin;
    justify-content: center;
    display: flex;
}
.btn{
    cursor: pointer;
    font-size:1.7em;
    width:11em;
    height:2em;
    position: absolute;
    align-content:center;
    border-radius: 100px;
    padding:10px;
    border:none;
    background-color: #ad3f8b;
    background-image: linear-gradient(1deg, #ad3f8b, #d762b2 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    color:#fff;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
.btn:hover{
    background-position: -20px -20px;
}
.btn:active, .btn:focus{
    outline: none;
}
.btn:focus:not(:active) {
    box-shadow: rgba(252, 251, 252, 0.25) 0 0 0 .125em;
  }
#last_updt{
    font-size: 2.4vmin;
    padding-top:60px;
    font-family: Tahoma, Arial, sans-serif;
    caret-color: transparent;
}
#footer{
    color:#fff;
    background-color:#ad3f8b;
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:10%;
    align-content: center;
    font-family:Tahoma, Arial, sans-serif;
    font-weight:700;
    caret-color: transparent;
}
#footer > p{
    font-size:2.5vmin;
    text-align: center;
}
.bold{
    font-weight: bold;
}
::selection {
    background: #ad3f8b;
    color: #ffffff93;
    text-shadow: none;
}

::-moz-selection {
    background: #ad3f8b;
    color: #eeeeee91;
    text-shadow: none;
}
/**************************
        show.html
***************************/
#zata1, #fc1, #ss11, #ss21, #ss31, #jr1, #sb1160, #sb1260, #sb1162, #sb1262, #eldo1, #at1, #sp11, #sp21, #sp31, #dp1, #tb1, #tb_value{
    border:none;
    background-color: #ccc9e7;
    cursor:default;
    font-family:Tahoma, Arial, sans-serif;
    font-weight:bold;
    height:1.2em;
    font-size: 1.9em;
}
.sb1{
    float:right;
}
.before, .in-between{
    font-size: 1.9em;
}
.align-right{
    float:right;
}
#sp11, #sp21, #sp31{
    width:4.2em;
    text-align: end;
}
#date1{
    font-size:1em;
    background-color: #ccc9e7;
    border:none;
    margin-left:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
#jackpot1{
    width:95vw;
    margin:5vmin;
    height:80vmin;
    position:absolute;
    font-size:1.8vmin;
    font-family:Georgia, Arial, sans-serif;
}
.after{
    font-size:2em;
    padding-left:0.2em;
    text-align: end;
    caret-color: transparent;
}
.row_nr{
    font-size:2em;
    margin-right:-15px;
    margin-top:-4px;
}
.outer-border{
    border:thick solid black;
    height:100%;
    width:100%;
    padding:0.5em;
    position: absolute;
}
.inner-border{
    border:thick double black;
    height:100%;
    width:100%;
    position: relative;
    display: flex;
}
#pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
#pop-up-content{
    background-color: #fefefe;
    margin: 30vh auto;
    border: 1px solid #888;
    width: 40vw;
    height:25vmin;
    box-shadow: rgba(0,0,0,.2) 0 3px 5px -1px, rgba(0,0,0,.14) 0 6px 10px 0, rgba(0,0,0,.12) 0 1px 18px 0;

}
#pop-up-text{
    font-size: 4vmin;
    text-align: center;
    position: static;
    width:34vw;
    margin:5vmin 3vw 0 3vw;
    height:10vmin;
}
#ok{
    width:10vw;
    text-align: center;
    margin:0 15vw;
    position: absolute;
    font-size: 3vmin;
    height:6vmin;
    font-family: Tahoma, Arial, sans-serif;

}

@media only screen and (max-width:800px){
    #dp, #dp1{
        position: absolute;
        margin-left:0;
        margin-top:3em;
    }
    #after-dp{
        position: absolute;
        margin-left:4.8em;
        margin-top:2.8em;
    }
    #row1, #sp1, #sp11, #after-sp11{
        margin-top:1.4em;
    }
    #eldo, #eldo1, #at, #at1, #fc, #fc1, #jr, #jr1{
        margin-left:0;
    }
    #left-row, #right-row{
        padding:5px;
    }
    #rubrik1, #rubrik2{
        width:85%;
    }
    #ok{
        font-size:2.2vmin;
    }



}
@media only screen and (max-width:1100px){
    .after, .before,#row1,.row, #zata1, #fc1, #ss11, #ss21, #ss31, #jr1, 
    #sb1160, #sb1260, #eldo1, #at1, #sp11, #sp21, #sp31, #dp1, #tb1,label{
        font-size:1.5em;
    }
    .info{
        font-size: 1.2em;
    }
    .row_nr{
        font-size:1.7em;
        margin-right:-12px;
    }
    #tb_value, .after_tb{
        font-size:2em;
    }

}